@font-face {
  font-family: 'PT Serif';
  src: url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap') format('woff2');
  font-weight: 400 700;
  font-display: swap;
}

@import "tailwindcss";
